<div class="w-75 mx-auto">
  <h2>Register</h2>
  {{#if registerError}}
    <p>Login {{registerError}}</p>
  {{/if}}
  <form action="/register" method="post">
    <div class="d-flex gap-3">

      <div class="form-floating mb-3 w-50">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          name="lastname"
          placeholder="Last name"
        />
        <label for="floatingInput">First name</label>
      </div>
      <div class="form-floating mb-3 w-50">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          name="firstname"
          placeholder="First name"
        />
        <label for="floatingInput">Last name</label>
      </div>
    </div>

    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        name="email"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        name="password"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <button type="submit" class="btn btn-primary mt-3">
      Register
    </button>
  </form>
</div>